<h1>Tumblrweed search</h1>
<span>Search for posts</span>
<form action="/tumblrweed" method="get">
  <input type="text"></input>
  <input type="submit" value="submit"></input>
</form>
<br>
<br>

<%= react_component('PostList', {} )%>
